

<section class="inner-page">
  <div class="container">
    <div class="row">
      <div class="profile-page">
        <div class="col-md-6">
          <div class="tab-content profile-tabs-content" id="myTabContent">
            <div id="profile-pic1" class="tab-pane fade in active">
              <img src="http://placehold.it/570x531" alt="" />
            </div>
            <div id="profile-pic2" class="tab-pane fade in">
              <img src="http://placehold.it/570x531" alt="" />
            </div>
            <div id="profile-pic3" class="tab-pane fade in">
              <img src="http://placehold.it/570x531" alt="" />
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h1 id="user"><i class="icon-user"></i></h1>
          <ul class="profile-info">
            <li>
              <span><i class="icon-envelope"></i>Email:</span>
              <p id="user_email"></p>
            </li>
          </ul>

          <span class="designation">Cambiar Datos</span>
          <ul class="profile-info">
            <li>
              <span class="change-pass"><i class="icon-angle-down"></i>Clave</span>
              <form class="change-pass-form" data-ng-controller="accountController as user">
                <input class="pass-form" type="password" size="30" requiered placeholder="Clave Previa" data-ng-model="user.prev_pass" required/>
                <input class="pass-form" type="password" size="30" requiered placeholder="Clave Nueva" data-ng-model="user.pass" required/>
                <input class="pass-form" type="password" size="30" placeholder="Clave Nueva" data-ng-model="user.pass_repeat" required/>
                <input type="submit" class="submit-btn submit" ng-click="user.changePass()" value="Cambiar Clave" style="float:none;display:table;"/>
              </form>
            </li>
            <li>
              <span class="change-photo"><i class="icon-angle-down"></i>Photo</span>
              <form class="change-photo-form" data-ng-controller="accountController as user">
                <input class="pass-form" type="file" size="30" requiered data-ng-model="user.stuff" required/>
                <input type="submit" class="submit-btn submit" ng-click="user.changePhoto()" value="Guardar Photo" />
              </form>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>


</section>
</div>



</body>
</html>
