<div class="top-image">
  <!--<img src="app/images/pagina-secundaria.jpg" alt="" />-->
</div><!-- Page Top Image -->
<section class="inner-page">
  <div class="container">
    <div class="page-title">
      <h1>Donar <span>Libros</span></h1>
    </div><!-- Page Title -->
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div id="message"></div>
        <div class="form" data-ng-controller="donateController as email">
          <h4 class="contact-description"><strong>Importante: Al realizar una donación, tenga en consideración que los libros estarán en contacto con pacientes hospitalizados, por lo que deben estar en perfectas condiciones.</strong></h4>
          <h4 class="contact-description" style="padding-top:30px;"><strong>Por favor, no vea la donación como una oportunidad de deshacerse de libros que no le sirven o que no quiere botar a la basura. Respete a las personas que recibirán esta ayuda.</strong></h4>
          <h4 class="contact-description" style="padding-top:30px;"><strong>¡Muchas gracias!</strong></h4>
<h4 class="contact-description" style="padding-top:30px;">
<strong>Qué libros recibimos:</strong><br></br>
Libros y revistas de entretención en general, en español y para todas las edades. Con todas sus páginas y originales. De preferencia con letra grande y no excesivamente largos. <br></br>
Libros para pintar y lápices de colores también son bienvenidos.</h4>
<h4 class="contact-description" style="padding-top:30px;"><strong>Que libros no aceptamos:</strong><br></br>
Libros y revistas rotos, antiguos, o en malas condiciones (páginas faltantes, con hongos, etc.)<br></br>
Con páginas papel roneo<br></br>
Con letra muy pequeña<br></br>
Libros piratas o fotocopias<br></br>
Libros técnicos ni libros escolares<br></br>
Libros en otros idiomas diferentes al español<br></br>
Textos de contenido violento ni pornográfico o que atenten contra la tolerancia y el respeto.</h4>

<h4 class="contact-description" style="padding-top:30px;">Si tienes dudas, escríbenos un <a href="/voluntario">mensaje</a></h4>
          <form name="contactform" id="contactform">
            <p>Nombre Completo <span>*</span></p>
            <input name="name" class="form-control input-field" type="text" size="30" required data-ng-model="email.contactName"/>

            <p>Correo electrónico <span>*</span></p>
            <input name="email" class="form-control input-field" type="text" size="30" required data-ng-model="email.email"/>

            <p>Nota <span>*</span></p>
            <textarea name="interes" rows="7" class="form-control input-field" required ng-model="email.note"></textarea>



            <input type="button" type="submit" id="submit" class="form-button submit" ng-click="email.sendMail()" value="Enviar" onclick="alert('Entiendo que la donación tiene que estar en buenas condiciones.');"  />  
          </form> 
        </div>
      </div> <!-- col-md-10-->
      <div class="col-md-1">
      </div>
    </div>  <!-- Message Form -->
  </div> <!-- container -->
</section>
