<div class="row">
  <img src="app/images/pagina-principal.jpg" class="main-bg" alt="Slide background">
</div>

<section>
  <div class="container">
  <div class="message-box">
    <div class="message-box-title">
      <span><i class="icon-envelope-alt"></i></span>
      <p>Dejar un Mensaje</p>
      <i class="icon-angle-up"></i>
    </div>
    <div class="message-form" data-ng-controller="basicEmailController as email">
      <p>Para comunicarte con nosotros llena el siguente formulario:</p>
      <div id="message"></div>
      <form name="contactform" id="contactform" data-ng-submit="email.sendMail()">
        <input name="name" class="form-control" type="text" id="name" size="30" value=""  placeholder="Nombre" data-ng-model="email.contactName" required/>
        <input name="email" class="form-control" type="text" id="email" size="30" value=""  placeholder="Email" data-ng-model="email.contactEmail" required/>
        <input name="telephone" class="form-control" type="text" id="email" size="30" value=""  placeholder="Teléfono" data-ng-model="email.contactPhone" required/>
        <textarea name="comments" rows="3" id="comments" rows="7" class="form-control"  placeholder="Tu Mensaje" ng-model="email.contactMsg" required></textarea>
        <input type="submit" class="submit-btn submit" id="submit" value="Enviar Mensaje" />
      </form>
    </div>
  </div><!-- Message Box -->
  </div>
</section>

<section class="block" style="bottom: 40px;">
  <div class="container">
    <div class="row">
    <div class="col-md-9">
      <div class="sec-heading">
        <a href="/hospitales"><h2><strong>Nuestros</strong> Hospitales</h2></a>
      </div><!-- Section Title -->
      <div class="our-causes">
          <ul class="slides" id="hospital-slides">
          </ul>
      </div><!-- Causes -->
    </div>

    <div class="col-md-3">

      <div class="sec-heading">
        <a href="/blog"><h2><strong>Blogs</strong></h2></a>
      </div>
      <div class="donate-us-box" id="blog-slide">
      </div><!-- Donate Us Box -->
    </div>
  </div>
  </div>
</section>


<section class="block remove-top">
  <div class="container">
    <div class="row">
      <div class="fixed-bg testimonial-color" style="background-image:url(app/images/pattern2.png); background-repeat:repeat; background-position:0 0; background-attachment:fixed; "></div>
      <div class="testimonial overlap">
      <div class="slideshow">
            <div class="carusal-image-thumb">
            <img src="app/images/logo_libro_amigo.jpg" alt="thumb1" />
            <strong>Nuestro</strong><span class="carusal-image-thumb-name"> Proyecto</span>
            </div>
            <p>Libro Amigo es una iniciativa sin fines de lucro que fomenta el amor por la lectura prestando libros de manera gratuita a pacientes, familiares y funcionarios de hospitales públicos.</p>
      </div>
      </div>
    </div>
  </div>
</section>  <!-- Testimonials -->

<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sec-heading">
          <h2><strong>Recent</strong> News</h2>
        </div><!-- Section Title -->
        <div class="carusal-slider">
          <div id="carousel-wrapper">
            <div id="carousel">
              <div id="news1">
                <div class="row">
                  <a href="/actividades" title="" style="color:inherit;">
                    <div class="col-md-6 desc">
                      <h3>Actividades</h3>
                      <p id="activity-text">Lorem ipsum dolor sit amet, consectetu pisei ing elit. Pellente sque mi tellus, fringilla intedi dumdi vitae, tempor id lorem. Nunc aliquett ndun conse iquat. Lorem ipsum dolor sit amet, consectet uos pisei ing elit. Pellentesque miteds llus, intedidum vitae, tempor idorem. Nunc aliquettndunt consni equat. Nunc aliquett ndun conse iquat. </p>
                    </div>
                    <div class="col-md-6">
                      <div class="image" id="activity-image">
                      </div>
                    </div>
                  </a>
                 </div>
              </div><!-- News -->
              <div id="news2"></div><!-- Facebook -->

              <div id="news3">
              </div><!-- Twitter -->
            </div>
          </div>
          <div id="thumbs-wrapper">
            <div id="thumbs">
              <a href="#news1" class="selected"><img src="app/images/activities-logo.jpg" alt="" /><span class="carusal-our-news">Actividades</span></a>
              <a href="#news2"><img src="app/images/facebook-logo.jpg" alt="" /><span class="carusal-our-news">Facebook </span></a>
              <a href="#news3"><img src="app/images/twitter-logo.jpg" alt="" /><span class="carusal-our-news">Twitter </span></a>
              <a href="#news4"><img src="http://placehold.it/131x78" alt="" /><span class="carusal-our-news">Safety Quiz and Tips </span></a>
              <a href="#news5"><img src="http://placehold.it/131x78" alt="" /><span class="carusal-our-news">Safety Quiz and Tips </span></a>
            </div>
          </div>
        </div>
      </div><!-- Recent News -->

      <div class="col-md-6 pull-right">
        <div class="sec-heading">
          <h2><strong>Nuesta</strong> Historia</h2>
        </div>


        <div class="our-project-box">
          <iframe src="https://player.vimeo.com/video/95364820" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div><!-- Projects -->
      </div>
    </div>
  </div>
</section>
