<div id="layerslider-container-fw">
  <div id="layerslider" style="width: 100%; height: 530px; margin: 0px auto; ">

    <div class="ls-slide" data-ls="transition3d:53; timeshift:-1000;">
      <img src="http://placehold.it/1366x640" class="ls-bg" alt="Slide background">
        <h3 class="ls-l slide1" style="top: 203px; left:248px; background: url(app/images/slider1-img2.png) no-repeat scroll 0 0 / auto 100% transparent; font-family:roboto; font-size:34px; font-weight:bold; color:#4c4c4c; line-height:56px; padding:0 60px 0 60px; ; border-radius:3px;" data-ls="offsetxin:0;offsetyin:bottom;durationin:1000;easingin:easeOutQuad;fadein:false;rotatein:-10;offsetxout:0;durationout:1500;" ><i>SAVE</i> <span>ENVIRONMENT</span></h3>
        <span class="ls-l slide1" style="top: 270px; left:248px; font-family:roboto; font-size:24px; font-weight:600; color:#000; padding:10px 20px 10px 50px; background:rgba(255,255,255,0.9); border-radius:4px 0 0px 4px; border-left:2px solid #93b631; position:relative; line-height:22px; float:left;" data-ls="offsetxin:0;offsetyin:top;durationin:1000;easingin:easeOutQuad;fadein:false;rotatein:10;offsetxout:0;durationout:1500;">BE READY TO WORK <i>WITH US</i></span>
        <p class="ls-l slide1"  style="top: 330px; left:248px; font-family:roboto; font-size:13px; color:#fefefe;" data-ls="delayin:1000; scalein:4; durationin : 1000;">Sed interdum, lacus et vulputate pellentesque, velit nulla commodo <br/> sem, at egestas nulla metus vel sapien! Lorem ipsum dolor</p>
    </div><!-- Slide1 -->

    <div class="ls-slide" data-ls="transition3d:12;timeshift:-1000;">
      <img src="http://placehold.it/1366x640" class="ls-bg" alt="Slide background">
        <h3 class="ls-l slide3" style="top:196px; left:100px; font-family: roboto; color: #FFFFFF; line-height:22px; font-size:32px; background:rgba(0,0,0,0.85); padding:18px 30px; border-radius:3px;" data-ls="offsetxin:0; scalexin:0; scaleyin:0; offsetxout:0; offsetyout:top; durationin:1500; durationout:800; showuntil:2000; fadeout:false;">
            HELP <i>US</i> TO HELP OTHERS</h3>

        <h4 class="ls-l slide3" style="top:265px; left:100px; background:rgba(152,212,96,0.85); font-family: roboto; color: #FFFFFF; font-size:28px; line-height:26px; padding:10px 20px; border-radius:3px;" data-ls="offsetxin:0; scalexin:0; scaleyin:0; offsetxout:0; offsetyout:top; durationin:1500; durationout:800; delayin:500; showuntil:2500;fadeout:false;">
            RESPONSIVE <span>TEMPLATE</span></h4>

        <h5 class="ls-l slide3" style="top:319px; left:100px; background:rgba(255,255,255,0.85); color:#595858; font-family:roboto; font-size:24px; line-height: 20px; padding:10px 20px; border-radius:3px;" data-ls="offsetxin:0; scalexin:0; scaleyin:0; offsetxout:0; offsetyout:top; durationin:1500; durationout:800; delayin:1000; showuntil:3000;fadeout:false;">
            CREATIVE <span>IDEAS</span></h5>
    </div><!-- Slide2 -->

    <div class="ls-slide" data-ls="transition3d:35;timeshift:-1000;">
      <img src="http://placehold.it/1366x640" class="ls-bg" alt="Slide background">
        <h3 class="ls-l" style="top: 160px; left:160px; font-family:roboto; font-size:72px; font-weight:bold; color:#fff; line-height:60px; text-align:center;" data-ls="offsetxin:0;offsetyin:top;durationin:1500;delayin:1000;easingin:easeInOutQuart;fadein:false;scalexin:0;scaleyin:0;offsetxout:0;offsetyout:top;durationout:1000;fadeout:false;" >I WANNA SAY <span>SOMETHING</span></h3>

        <span class="ls-l slide3-subtitle" style="top: 248px; left:160px; padding:13px; border-radius:3px; color:#fff; font-family:open sans; font-weight:900; font-size:26px; text-transform:uppercase; line-height:20px;" data-ls="offsetxin:0;offsetyin:bottom;durationin:1500;delayin:1200;easingin:easeInOutQuart;fadein:false;scalexin:0;scaleyin:0;offsetxout:0;offsetyout:top;durationout:1000;fadeout:false;">Please Feel My <i style="font-style:normal; color:#373737;">Tension</i></span>

        <span class="ls-l slide3-subtitle2" style="top: 248px; left:750px; background:rgba(0,0,0,0.8); padding:13px; border-radius:3px; color:#fff; font-family:open sans; font-weight:900; font-size:26px; text-transform:uppercase; line-height:20px;" data-ls="offsetxin:0;offsetyin:bottom;durationin:1500;delayin:1300;easingin:easeInOutQuart;fadein:false;scalexin:0;scaleyin:0;offsetxout:0;offsetyout:top;durationout:1000;fadeout:false;">We <i style="font-style:normal;">Need</i> Your Help</span>
    </div><!-- Slide3 -->


    <div class="ls-slide" data-ls="transition3d:75;timeshift:-1000;">
      <img src="http://placehold.it/1366x640" class="ls-bg" alt="Slide background">

      <h3 class="ls-l slide4" style="top:180px; left:150px; background:rgba(0,0,0,0.9); font-family:roboto; font-size:36px; font-weight:bold; color:#fefefe; padding:20px 60px 20px; border-radius:4px;" data-ls="offsetxin:bottom;durationin:2000;delayin:1000;easingin:easeInOutQuart;fadein:false;scalexin:100;scaleyin:0;offsetxout:right;durationout:1400;fadeout:false;">
        SAVE THE <i>WORLD</i></h3>

      <span class="ls-l slide4-subtitle" style="top:280px; left:215px;border-radius: 4px 4px 0 0; color: #FFFFFF;font-family: open sans;font-size: 13px;font-weight: bold; padding: 5px 10px;" data-ls="offsetxin:bottom;durationin:2000;delayin:1500;easingin:easeInOutQuart;fadein:false;scalexin:100;scaleyin:0;offsetxout:right;durationout:1400;fadeout:false;">Want To Know Why And How We Do It?</span>

      <h4 class="ls-l" style="top:315px; left:120px; color:#030303; font-family:source sans pro; font-size:20px; font-weight:700;" data-ls="offsetxin:bottom;durationin:2000;delayin:2000;easingin:easeInOutQuart;fadein:false;scalexin:100;scaleyin:0;offsetxout:right;durationout:1400;fadeout:false;">OUR CHARITY HELPS THOSE PEOPLE WHO HAVE NO HOPE</h4>

      <p class="ls-l" style="top:350px; left:20px; font-family:roboto; font-size:14px; color:#030303;" data-ls="offsetxin:bottom;durationin:2000;delayin:2000;easingin:easeInOutQuart;fadein:false;scalexin:100;scaleyin:0;offsetxout:right;durationout:1400;fadeout:false;">Sed interdum, lacus et vulputate pellentesque, velit nulla commodo sem, at egestas nulla metus.</p>

    </div><!-- Slide4 -->

     <div class="ls-slide" data-ls="transition3d:63;timeshift:-1000;">
      <img src="http://placehold.it/1366x640" class="ls-bg" alt="Slide background">
      <h3 class="ls-l slide5" style="top:80px; left:670px; font-family:open sans; font-size:36px; font-weight:700; color:#FFF;"  data-ls="offsetxin:0;offsetyin:top;durationin:750;delayin:1000;easingin:easeOutQuart;fadein:false;offsetxout:right;durationout:1000;easingout:easeInQuart;fadeout:false;">Supporting <span>889</span> People</h3>
      <i class="ls-l slide5" style="top:130px; left:760px; font-family:open sans; font-size:20px; color:#FFF;"  data-ls="offsetxin:0;offsetyin:top;durationin:750;delayin:500;easingin:easeOutQuart;fadein:false;offsetxout:right;durationout:1000;easingout:easeInQuart;fadeout:false;">fundraising & charity...</i>
      <h4 class="ls-l slide5-title" style="top:160px; left:560px; font-family:open sans; font-size:70px; font-weight:700; color:#FFF; line-height:55px; padding:50px 80px 80px; background:url(app/images/slider5-bg.png) no-repeat scroll 0 0 / 100% 100% transparent;" data-ls="offsetxin:0;offsetyin:0;durationin:1000;delayin:1400;easingin:easeOutQuart;fadein:false;easingout:easeInQuart;rotatexin:-90deg;">OPEN <span>H</span>EART</h4>
      <span class="ls-l" style="top:280px; left:710px; font-family:open sans; font-size:18px; font-weight:400; color:#FFF; letter-spacing:3px;" data-ls="offsetxin:0;offsetyin:0;durationin:1000;delayin:1700;easingin:easeOutQuart;fadein:false;easingout:easeInQuart;rotatexin:-90deg;">DONATE FOR NEEDY PEOPLE</span>
      <a class="ls-l slide-donate" style="top:350px; left:770px; font-family:open sans; font-size:12px; font-weight:400; color:#FFF; padding:10px 20px; border-radius:3px;"  data-ls="offsetxin:0;offsetyin:700;durationin:1000;delayin:2000;easingin:easeOutQuart;fadein:false;easingout:easeInQuart;rotatexin:-90deg;" href="#" title=""><i class="icon-heart"></i> DONATE NOW</a>
    </div><!-- Slide5 -->

    <div class="ls-slide" data-ls="transition3d:63;timeshift:-1000;">
      <img src="http://placehold.it/1366x640" class="ls-bg" alt="Slide background">
      <div class="ls-l slide-icon" style="top:70px; left:50%;"  data-ls="scalexin:0;scaleyin:0;durationin:1000;delayin:400;easingin:easeOutQuart;fadein:false;easingout:easeInQuart;rotatein:-800deg;" ><img src="app/images/slide6-icon.png" alt="" /></div>
      <h3 class="ls-l" style="top:190px; left:50%; color:#FFF; font-family:open sans; font-size:60px; font-weight:300;" data-ls="durationin:1500; delayin:1000; easingin:easeOutQuart; fadein:false; easingout:easeInQuart; rotatexin:-90deg;">LET'S BUILD <span style="font-weight:700;">THE WORLD.</span></h3>
      <p class="ls-l" style="top:290px; left:50%; line-height:30px; color:#FFF; font-family:noto sans; font-size:14px; text-align:center;" data-ls="durationin:1500; delayin:1500; easingin:easeOutQuart; fadein:false; easingout:easeInQuart; rotatexin:-90deg;">With easy to use Drag and Drop Page Builder build professional looking page with best slider <br />Layer. Lorem ipsum dolor sit amet, consectetur</p>
      <div class="ls-l slide-donate2" style="top:370px; left:50%; font-family:open sans; font-size:12px; font-weight:400; color:#FFF; padding:10px 20px; border-radius:3px;" data-ls="durationin:1500; delayin:2000; easingin:easeOutQuart; fadein:false; easingout:easeInQuart; rotatexin:-90deg;"><a href="#" title=""><i class="icon-heart"></i> DONATE NOW</a></div>
    </div>


  </div>
</div><!-- Layer Slider -->

<section>
  <div class="container">
  <div class="message-box">
    <div class="message-box-title">
      <span><i class="icon-envelope-alt"></i></span>
      <p>Dejar un Mensaje</p>
      <i class="icon-angle-up"></i>
    </div>
    <div class="message-form" data-ng-controller="basicEmailController as email">
      <p>Lorem ipsum dolor sit amet, cons ectetur adipisei ing elit. Pellentesque mi tellus, fringilla nonintedi.</p>
      <div id="message"></div>
      <form name="contactform" id="contactform" data-ng-submit="email.sendMail()">
        <input name="name" class="form-control" type="text" id="name" size="30" value=""  placeholder="Nombre" data-ng-model="email.contactName" required/>
        <input name="email" class="form-control" type="text" id="email" size="30" value=""  placeholder="Email" data-ng-model="email.contactEmail" required/>
        <input name="telephone" class="form-control" type="text" id="email" size="30" value=""  placeholder="Teléfono" data-ng-model="email.contactPhone" required/>
        <textarea name="comments" rows="3" id="comments" rows="7" class="form-control"  placeholder="Tu Mensaje" ng-model="email.contactMsg" required></textarea>
        <input type="submit" class="submit-btn submit" id="submit" value="Enviar Mensaje" />
      </form>
    </div>
  </div><!-- Message Box -->
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row">
    <div class="col-md-9">
      <div class="sec-heading">
        <a href="/hospitales"><h2><strong>Nuestros</strong> Hospitales</h2></a>
      </div><!-- Section Title -->
      <div class="our-causes">
          <ul class="slides" id="hospital-slides">
          </ul>
      </div><!-- Causes -->
    </div>

    <div class="col-md-3">

      <div class="sec-heading">
        <a href="/blog"><h2><strong>Blogs</strong></h2></a>
      </div>
      <div class="donate-us-box" id="blog-slide">
      </div><!-- Donate Us Box -->
    </div>
  </div>
  </div>
</section>


<section class="block remove-top">
  <div class="container">
    <div class="row">
      <div class="fixed-bg testimonial-color" style="background-image:url(app/images/pattern2.png); background-repeat:repeat; background-position:0 0; background-attachment:fixed; "></div>
      <div class="testimonial overlap">
      <div class="slideshow">
            <div class="carusal-image-thumb">
            <img src="app/images/logo_libro_amigo.jpg" alt="thumb1" />
            <strong>Nuestro</strong><span class="carusal-image-thumb-name"> Proyecto</span>
            </div>
            <p>Libro Amigo es una iniciativa sin fines de lucro que fomenta el amor por la lectura prestando libros de manera gratuita a pacientes, familiares y funcionarios de hospitales públicos.</p>
      </div>
      </div>
    </div>
  </div>
</section>  <!-- Testimonials -->

<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sec-heading">
          <h2><strong>Recent</strong> News</h2>
        </div><!-- Section Title -->
        <div class="carusal-slider">
          <div id="carousel-wrapper">
            <div id="carousel">
              <div id="news1">
                <div class="row">
                  <div class="col-md-6 desc">
                    <h3><a href="#" title="">Actividades</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetu pisei ing elit. Pellente sque mi tellus, fringilla intedi dumdi vitae, tempor id lorem. Nunc aliquett ndun conse iquat. Lorem ipsum dolor sit amet, consectet uos pisei ing elit. Pellentesque miteds llus, intedidum vitae, tempor idorem. Nunc aliquettndunt consni equat. Nunc aliquett ndun conse iquat. </p>
                  </div>
                  <div class="col-md-6">
                    <div class="image">
                      <img src="http://placehold.it/260x207" alt="" />
                      <a class="html5lightbox" href="http://player.vimeo.com/video/31943945?color=ffffff" title="This Is a Demo Video">
                      <span><i class="icon-play"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div><!-- News -->
              <div id="news2"></div><!-- Facebook -->

              <div id="news3">
              </div><!-- Twitter -->
            </div>
          </div>
          <div id="thumbs-wrapper">
            <div id="thumbs">
              <a href="#news1" class="selected"><img src="http://placehold.it/131x78" alt="" /><span class="carusal-our-news">Actividades</span></a>
              <a href="#news2"><img src="app/images/facebook-logo.jpg" alt="" /><span class="carusal-our-news">Facebook </span></a>
              <a href="#news3"><img src="app/images/twitter-logo.jpg" alt="" /><span class="carusal-our-news">Twitter </span></a>
              <a href="#news4"><img src="http://placehold.it/131x78" alt="" /><span class="carusal-our-news">Safety Quiz and Tips </span></a>
              <a href="#news5"><img src="http://placehold.it/131x78" alt="" /><span class="carusal-our-news">Safety Quiz and Tips </span></a>
            </div>
          </div>
        </div>
      </div><!-- Recent News -->

      <div class="col-md-6 pull-right">
        <div class="sec-heading">
          <h2><strong>Nuesta</strong> Historia</h2>
        </div>


        <div class="our-project-box">
          <iframe src="https://player.vimeo.com/video/95364820" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div><!-- Projects -->
      </div>
    </div>
  </div>
</section>
