<div class="top-space">
  
</div><!-- So that the page title wont overlap with logo -->
<section class="inner-page">
  <div class="container">
    <div class="page-title">
      <h1>Fotos</h1>
    </div><!-- Page Title -->
     <div id="new_photo" class="page-title-2">
        <a class="change-photo">Agregar Foto<i class="icon-angle-down"></i></a>
        <form class="change-photo-form" ng-controller="photoController">
          <div class="spacer"></div>
          <div class="progress-bar"></div>
        </form>
      </div>
    <div id="photos"></div>
  </div> <!-- container -->
</section>
