<div class="top-image">
  <img src="app/images/pagina-secundaria.jpg" alt="" />
</div><!-- Page Top Image -->
<section class="inner-page">
  <div class="container">
    <div class="page-title">
      <h1>Proyecto</h1>
    </div><!-- Page Title -->

    <div class="about-charity-desc">
      <h2> Somos una iniciativa sin fines de lucro, que fomenta el amor por la lectura instalando y administrando mini bibliotecas en hospitales públicos y prestando libros de forma gratuita a pacientes, familiares y sus funcionarios. </h2>
      <div class="mission">
        <h4 style="color:#e94e15;">MISIÓN</h4>
        <p>Fomentar la lectura en hospitales públicos mediante la instalación y administración de mini bibliotecas. Como consecuencia dignificar la estancia de pacientes, visitas y funcionarios en el establecimiento,  aportando en su bienestar.</p>
      </div>
    </div>
  </div> <!-- container -->
</section>
