<div class="top-image">
  <!--<img src="app/images/pagina-secundaria.jpg" alt="" />-->
</div><!-- Page Top Image -->
<section class="inner-page">
  <div class="container">
    <div class="page-title">
      <h1>Contactar con <span>Nosotros</span></h1>
    </div><!-- Page Title -->
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div id="message"></div>
        <div class="form" data-ng-controller="emailController as email">
          <h4 class="contact-description">¡Agradecemos tu interés por el proyecto Libro Amigo!
    Si quisieras unirte al equipo, por favor llena este rápido formulario y nos comunicaremos contigo para coordinar una entrevista.</h4>
          <form name="contactform" id="contactform">
            <p>Nombre Completo <span>*</span></p>
            <input name="name" class="form-control input-field" type="text" size="30" required data-ng-model="email.contactName"/>

            <p>Correo electrónico <span>*</span></p>
            <input name="email" class="form-control input-field" type="text" size="30" required data-ng-model="email.email"/>

            <p>Edad <span>*</span></p>
            <input name="edad" class="form-control input-field" type="text" size="30" required data-ng-model="email.age"/>

            <p>Teléfono <span>*</span></p>
            <input name="telefono" class="form-control input-field" type="text" size="30" required data-ng-model="email.telephone"/>

            <p>Ocupación <span>*</span></p>
            <input name="ocupacion" class="form-control input-field" type="text" size="30" required data-ng-model="email.occupation"/>

            <p>¿Por qué te interesa participar? <span>*</span></p>
            <textarea name="interes" rows="7" class="form-control input-field" required ng-model="email.interest"></textarea>

            <p>¿Qué esperas del voluntariado en Libro Amigo? <span>*</span></p>
            <textarea name="esperanza" rows="5" class="form-control input-field" required ng-model="email.hope"></textarea>

            <p>En caso de "Otro" en sig. pregunta, especificar</p>
            <textarea name="otro" rows="3" class="form-control input-field" ng-model="email.other"></textarea>

            <div class="checkbox-contact">
              <p>¿Cómo te gustaría participar?<span>*</span></p>
              <label ng-repeat="option in participationModel">
                <input type="checkbox" data-checklist-model="email.participationModel" data-checklist-value="option"> {{option.text}}
              </label>
            </div><!--checkbox-contact-->

              <p>¿Días y horarios en que podrías participar?<span>*</span></p>
              <textarea name="horario" rows="3" class="form-control input-field" ng-model="email.schedule"></textarea>

            <div class="checkbox-contact">
              <p>Duración de voluntariado (con opción de extender)<span>*</span></p>
              <label ng-repeat="option in durationModel">
                <input type="radio" ng-model="email.durationModel" value={{option.text}}> {{option.text}}
              </label>
            </div><!--checkbox-contact-->

            <div class="checkbox-contact">
              <p>¿En cual de nuestros hospitales te gustaría participar?<span>*</span></p>
              <label ng-repeat="option in hospitalModel">
                <input type="checkbox" data-checklist-model="email.hospitalModel" data-checklist-value="option"> {{option.text}}
              </label>
            </div><!--checkbox-contact-->

            <input type="submit" id="submit" class="form-button submit" ng-click="email.sendMail()" value="Enviar Postulación" />
          </form>
        </div>
      </div> <!-- col-md-10-->
      <div class="col-md-1">
      </div>
    </div>  <!-- Message Form -->
  </div> <!-- container -->
</section>
