<div class="top-image">
  <img src="http://placehold.it/1366x286" alt="" />
</div><!--Page Top Image-->

<section class="inner-page">
  <div class="container">
      <div class="page-title">
        <h1>Nuestros <span>Voluntarios</span></h1>
      </div><!--Page Title-->
      <div class="page-title-2">
        <a href="/admin/voluntario/nuevo">Crear Voluntario<i class="icon-plus"></i></a>
      </div>
      <div class="row" id="content" data-ng-controller='adminController'></div>
  </div>
</section>
</div>


</body>
</html>
